<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Entidades.Properties.Settings.LibraryLoanConnectionString"
            connectionString="Data Source=DESKTOP-LCCL1R9;Initial Catalog=LibraryLoan;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>